# Django Settings
SECRET_KEY=django-insecure-change-this-in-production-key-example-12345
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1

# Database (postgresql və ya sqlite)
DB_ENGINE=postgresql
DB_NAME=podcast_db
DB_USER=podcast_user
DB_PASSWORD=podcast_password
DB_HOST=localhost
DB_PORT=5432

# Redis & Celery
CELERY_BROKER_URL=redis://localhost:6379/0
CELERY_RESULT_BACKEND=redis://localhost:6379/0
